<div class="container">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>Registration</h1>
            <form (ngSubmit)="userRegister()">
                <div class="form-group">
                    <label for="exampleInputEmail1">User Id</label>
                    <input type="text" class="form-control" id="userId" name="userId" [(ngModel)]="user.userId">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">User Name</label>
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">User Phone</label>
                    <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="user.phone">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">User Email</label>
                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">ConfirmPassword</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="user.confirmPassword">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Gender</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" id="male" value="male" [(ngModel)]="user.gender">
                        <label class="form-check-label" for="exampleRadios1">
                         Male
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="female" [(ngModel)]="user.gender">
                        <label class="form-check-label" for="exampleRadios2">
                         Female
                        </label>
                      </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-3"></div>

    </div>

</div>